.animal {
  display: grid;
  grid-template-columns: auto 14rem;
  gap: 1rem;
}

.animal article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.animal .description p {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1em;
}

.animal .main-image {
  border: 1px solid rgba(0 0 0 / 90%);
  width: 100%;
}
