.site-header {
  background-color: black;
  color: white;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site-header .back-button {
  display: flex;
  padding: 0.25rem;
  font-size: 1rem;
}

.site-header .title {
  font-size: 1.25rem;
}
