.site-header {
  background-color: black;
  color: white;
  padding: 6px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.site-header .back-button {
  display: flex;
  padding: 6px;
  font-size: 24px;
}

.site-header .title {
  font-size: 32px;
}
