.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 12px;
}

.main-nav button {
  display: flex;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0 0 0 / 90%);
}

.main-nav button img {
  width: 100%;
}

.main-nav button span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 32px;
  background: rgba(0 0 0 / 80%);
  border-top: 1px solid rgba(0 0 0 / 90%);
  height: 64px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-in-up 0.5s forwards;
}

@keyframes slide-in-up {
  from {
    transform: translateY(100%);
  }
}
