@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  color: white;
  font-family: "EB Garamond", serif;
  background-color: hsl(0deg 0% 15%);
  line-height: 1;
}

button {
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}
