@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  color: white;
  font-family: "EB Garamond", serif;
  background-color: hsl(0deg 0% 15%);
}

button {
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
}

::view-transition-old(view-transition-image-1),
::view-transition-old(view-transition-image-2),
::view-transition-old(view-transition-image-3),
::view-transition-old(view-transition-image-4) {
  object-fit: contain;
}

::view-transition-new(view-transition-image-1),
::view-transition-new(view-transition-image-2),
::view-transition-new(view-transition-image-3),
::view-transition-new(view-transition-image-4) {
  object-fit: cover;
}

::view-transition-old(view-transition-image-1),
::view-transition-new(view-transition-image-1),
::view-transition-old(view-transition-image-2),
::view-transition-new(view-transition-image-2),
::view-transition-old(view-transition-image-3),
::view-transition-new(view-transition-image-3),
::view-transition-old(view-transition-image-4),
::view-transition-new(view-transition-image-4) {
  animation: none;
  mix-blend-mode: normal;
  height: 100%;
  overflow: clip;
}

::view-transition-image-pair(view-transition-image-1),
::view-transition-image-pair(view-transition-image-2),
::view-transition-image-pair(view-transition-image-3),
::view-transition-image-pair(view-transition-image-4) {
  isolation: none;
}
