@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 24px;
}

@media (max-width: 1280px) {
  :root {
    font-size: 20px;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  color: white;
  font-family: "EB Garamond", serif;
  background-color: hsl(0deg 0% 15%);
  line-height: 1;
}

button {
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar-track {
  background: hsl(0deg 0% 15%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0deg 0% 90%);
  border: 0.25rem solid hsl(0deg 0% 15%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
